/* Custom styles for the tabs and the profile settings page */

.settings__container .nav-link {
  border-radius: 0 !important;
  color: black;
  font-size: 14px;
  padding: 15px 20px;
  background: none !important;
  transition: all 0.1s ease;
}
.settings__container .nav-link.active {
  color: #007bff !important;
  font-weight: bold;
  font-size: 13px;
  border-left: 4px solid #007bff !important;
}
.settings__container .nav-link:hover {
  border-left: none !important;
  border-left: 4px solid #cecece !important;
}

.settings__container .tab-content {
  width: calc(100% - 230px);
}

.settings__container label {
  font-weight: 600;
  font-size: 14px;
}

.settings__container .label__heading {
  font-size: 20px;
  font-family: sans-serif;
}
.settings__container .label__main__heading {
  font-size: 24px;
  font-family: sans-serif;
}
.settings__container .form-control:focus,
.settings__container select:focus {
  border-color: #007bff;
  border-width: 1px;
  box-shadow: none;
}
.settings__container .form-control,
.settings__container select:focus,
.settings__container option:focus {
  font-size: 14px !important;
}

.settings__container .btn__responsive {
  position: relative;
}
.settings__container .btn__responsive button {
  position: absolute;
  right: 5px;
  outline: none;
  border: none;
  display: block;
  z-index: 10;
}

.settings__container .camera__responsive {
  position: relative;
}
.settings__container .camera__responsive i {
  font-size: 50px;
  position: absolute;
  cursor: pointer;
  top: 0%;
  right: 20%;
}

@media (max-width: 760px) {
  /* .settings__container .responsive__class {
    min-height: unset !important;
  } */

  .settings__container ul {
    /* overflow: scroll; */
    overflow-x: auto;
    /* white-space: nowrap; */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }

  .settings__container ul::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  .settings__container .nav-link {
    font-size: 14px;
    padding: 10px 5px;
    white-space: nowrap;
    margin: 0px 8px;
    margin-bottom: 10px;
  }
  .settings__container .nav-link.active {
    border-bottom: 2px solid #007bff !important;
    border-left: none !important;
    color: #007bff !important;
  }
  .settings__container .camera__responsive i {
    right: 10%;
  }
}
