@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --base-color: #FFFFFF;
    --font-color: #000000;
    --secondary-color: #0071BC;
}

/*resets*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

ul, li, a {
    list-style: none;
    text-decoration: none;
}

section {
    padding: 151px;
}

/*navigation*/

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 19px 151px;
    line-height: 45px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--base-color);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 49.19px;
    height: 75px;
}

.logo p {
    font-size: 1.875em;
    font-weight: 700;
    padding-left: 16.81px;
    text-transform: capitalize;
}

.logo span {
    font-size: 1.875em;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--secondary-color);
}

.nav-items {
    display: flex;
}

.nav-items .nav-item {
    font-size: 1em;
    font-weight: 400;
    padding-left: 2rem;
    text-transform: capitalize;
    color: var(--font-color);
}

.nav-items .nav-item:hover {
    color: var(--secondary-color);
}

.nav-item.active {
    color: var(--secondary-color);
}

.banner {
    position: relative;
    width: 100%;
    height: 312px;
    top: 109px;
    background: url(../Images/banner.jpg) no-repeat right;
    background-size: cover;
    display: flex;
    align-items: center;
    z-index: 1;
}

.banner .layer_mask {
    position: absolute;
    height: 312px;
    background: rgba(0, 113, 188, 0.8);
    width: inherit;
    top: 0;
    left: 0;
    z-index: -1;
}

.banner .text-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.banner .text-content h1 {
    font-size: 3.750vw;
    font-weight: 700;
    line-height: 90px;
    color: var(--base-color);
}

.banner .text-content p {
    width: 50%;
    font-size: 0.875em;
    font-weight: 400;
    line-height: 24px;
    color: var(--base-color);
}

/*about container*/
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 93px;
    gap: 40px;
}


.content .text-content {
    width: 50%;
}

.content .text-content p {
    font-size: 0.875em;
    font-weight: 400;
    line-height: 24px;
}

.content .text-content p:nth-child(odd) {
    padding-bottom: 1.563em;
}

/*heading container*/

.heading {
    margin-top: 70px;
}

.heading p {
    font-size: 2.563vw;
    font-weight: 500;
    line-height: 52.5px;
}

.mask-image {
    position: relative;
    display: flex;
    margin-top: 62px;
    justify-content: center;
    width: 100%;
    min-height: 40vh;
    background: url(../Images/Mask%20group.png);
    background-position: right;
    background-size: cover;
}

.content .text-content {
    width: 40%; 
}

.content .list-items {
    width: 50%;
}

.content .list-items .item {
    width: 60%;
    height: auto;
    border: 1px solid var(--secondary-color);
    margin-left: 135px;
    margin-bottom: 25px;
    border-radius: 10px;
}

.content .list-items .item p {
    text-align: center;
    padding: 13px;
    color: var(--secondary-color);
    font-size: 0.875em;
}
.content .list-items .item p i {
    margin-right: 1rem;
}

/*join us container*/
.joinus-container {
    background-color: var(--secondary-color);
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.joinus-container .join-us-container p {
    width: 100%;
    font-size: 1.75vw;
    height: auto;
    line-height: 36px;
    color: var(--base-color);
    padding-bottom: 2rem;
}

.join-us-container .btn-join {
    width: 236px;
    height: 60px;
    text-transform: capitalize;
    color: var(--base-color);
    background: none;
    border: 1px solid var(--base-color);
    border-radius: 10px;
    font-size: 1.125em;
    cursor: pointer;
}

.join-us-container .btn-join:hover {
    border: 1px solid var(--secondary-color);
    background: var(--base-color);
    color: var(--secondary-color);
}

/*footer section main */

footer {
    position: relative;
    height: 334px;
}

.ft-row-main {
    padding-top: 82px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ft-text {
    width: 314px;
    margin-top: 26px;
    font-size: 0.875em;
    line-height: 24px;
    font-weight: 400;
}

.ft-title {
    margin-bottom: 37px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
}

.ft-main-items li a {
    font-size: 0.875em;
    font-weight: 400;
    line-height: 24px;
    color: var(--font-color);
    text-transform: capitalize;
}

.form-contact .ft-form {
    display: flex;
    flex-wrap: wrap;
    width: 416px;
    margin: 5px;
}

.form-contact .ft-form input {
    flex: 1 0 203px;
    padding: 1rem;
    margin: 0.1rem;
    border: 1px solid #F2F2F2;
/*    font-size: 0.875em;*/
    font-weight: 400;
    outline: none;
}

.ft-form .btn {
    padding: 8px 16px;
    background: var(--secondary-color);
    color: var(--base-color);
    text-transform: capitalize;
    border: none;
    cursor: pointer;
}

.ft-form .btn:hover {
    background: var(--base-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

/*footer copyright
*/
.copyright {
    height: 80px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright ,text-content {
    color: var(--base-color);
    font-size: 1rem;
    font-weight: 500;
    line-height: 24px;
}


/*responsive design*/
@media (max-width: 991px) {
    html, body {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        overflow-x: hidden;
    }

    nav {
        padding: 0;
        margin: 0;
        width: 100%;
    }
    
    section {
        padding: 30px;
    }
    
    .banner, .about-container, .joinus-container {
        padding: 100px 50px;
    }
    
    .about-container .content {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    
    .content .img-g,
    .content .text-content {
        width: 100%;
        margin-top: 2rem;
    }
    
    .list-items {
        max-width: 50%;
        text-align: center;
        margin-top: 2.5rem;
    }
    
    .content .list-items .item {
        width: 100%;

        text-align: center;
    }

    #menu {
        position: fixed;
        top: 109px;
        left: -991px;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: var(--base-color);
        transition: .5s;
        z-index: 999;
        border-top: 1px solid var(--font-color);
    }

    #menu.active {
        left: 0;
    }

    .nav-bar #menu li a  {
        color: var(--font-color);
        font-size: 32px;
        padding-bottom: 20px;
        margin-bottom: 20px;
        line-height: 2;
    }
    
    .navbar #menu li a:hover {
        color: var(--secondary-color);
    }
    
    .nav-bar {
        padding: 30px;
        margin: 0;
    }

    .burger-menu {
        width: 40px;
        height: 40px;
        background: url(../Images/icons/burger.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
    }

    .burer-menu.active {
        background: url(../Images/icons/close.png);
        width: 40px;
        height: 40px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        cursor: pointer;
    }
    
    
    .ft-row-main {
        padding: 20px 50px;
        display: flex;
        flex-wrap: wrap;
    } 
    
    .ft-title {
        width: 100%;
        padding-top: 2rem;
    }
    
/*    .banner*/
    .banner {
        padding: 0 50px;
    }
    
    .banner .text-content h1 {
        font-size: 2.5rem;
    }
    
    .banner .text-content .btn {
        margin-top: 1.5rem;
    } 
    
}

/*responsive design*/
@media (max-width: 640px) {
    html, body {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        overflow-x: hidden;
    }

    nav {
        padding: 0;
        margin: 0;
        width: 100%;
    }
    
    section {
        padding: 0  10px;
    }
    
    .banner, .about-container, .joinus-container {
        padding: 50px 30px;
    }
    

    #menu {
        position: fixed;
        top: 109px;
        left: -640px;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: var(--base-color);
        transition: .5s;
        z-index: 999;
        border-top: 1px solid var(--font-color);
    }

    #menu.active {
        left: 0;
    }

    .nav-bar #menu li a  {
        color: var(--font-color);
        font-size: 32px;
        padding-bottom: 20px;
        margin-bottom: 20px;
        line-height: 2;
    }
    
    .navbar #menu li a:hover {
        color: var(--secondary-color);
    }
    
    .nav-bar {
        padding: 30px;
        margin: 0;
    }

    .burger-menu {
        width: 40px;
        height: 40px;
        background: url(../Images/icons/burger.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
    }

    .burer-menu.active {
        background: url(../Images/icons/close.png);
        width: 40px;
        height: 40px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        cursor: pointer;
    }
    
    .ft-row-main {
        padding: 20px 50px;
        display: flex;
        flex-wrap: wrap;
    } 
    
    .ft-title {
        width: 100%;
        padding-top: 2rem;
    }
}


/*responsive design*/
@media (max-width: 414px) {
    html, body {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        overflow-x: hidden;
    }

    nav {
        padding: 0;
        margin: 0;
        width: 100%;
    }
    
    
    .banner, .layer_mask {
        min-height: 50vh;
    }
    
    section {
        padding: 0  20px;
    }
    
    .banner, .services, .joinus-container,
    .post-container, .newsletter {
        padding: 30px 20px;
    }
    

    #menu {
        position: fixed;
        top: 109px;
        left: -640px;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: var(--base-color);
        transition: .5s;
        z-index: 999;
        border-top: 1px solid var(--font-color);
    }

    #menu.active {
        left: 0;
    }

    .nav-bar #menu li a  {
        color: var(--font-color);
        font-size: 32px;
        padding-bottom: 20px;
        margin-bottom: 20px;
        line-height: 2;
    }
    
    .navbar #menu li a:hover {
        color: var(--secondary-color);
    }
    
    .nav-bar {
        padding: 30px;
        margin: 0;
    }

    .burger-menu {
        width: 40px;
        height: 40px;
        background: url(../Images/icons/burger.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
    }

    .burer-menu.active {
        background: url(../Images/icons/close.png);
        width: 40px;
        height: 40px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        cursor: pointer;
    }
    
    .content-container .text-content {
        margin-bottom: 2.5rem;
    }
    .content-container .text-content {
        margin-bottom: 2.5rem;
    }
    
    .ft-row-main {
        padding: 20px 50px;
        display: flex;
        flex-wrap: wrap;
    }  
    
    .ft-title {
        width: 100%;
        padding-top: 2rem;
    }
}


